<% include ./partials/header %> 
<div class="text-center">
<h1>Sign Up!</h1>

<form action="/register" method="post">
	<div>
    <input type="text" name="username" placeholder="username">
	</div>
<br>	
	<div>
    <input type="password" name="password" placeholder="password">
	</div>
<br>	
    <input type="submit" value="Submit">
</form>
</div>
<% include ./partials/footer %> 